<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>control</key>
		<string>Kugou</string>
		<key>icon</key>
		<string>kugouIcon</string>
		<key>title</key>
		<string>酷狗</string>
	</dict>
	<dict>
		<key>control</key>
		<string>JuheData</string>
		<key>icon</key>
		<string>juheIcon</string>
		<key>title</key>
		<string>聚合数据</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Iqiyi</string>
		<key>icon</key>
		<string>aiqiyiIcon</string>
		<key>title</key>
		<string>爱奇艺</string>
	</dict>
    <dict>
        <key>control</key>
        <string>Douyin</string>
        <key>icon</key>
        <string>douyinIcon</string>
        <key>title</key>
        <string>抖音</string>
    </dict>
    <dict>
        <key>control</key>
        <string>Taobao</string>
        <key>icon</key>
        <string>taobaoIcon</string>
        <key>title</key>
        <string>淘宝</string>
    </dict>
	<dict>
		<key>control</key>
		<string>Sina</string>
		<key>icon</key>
		<string>weiboIcon</string>
		<key>title</key>
		<string>新浪微博</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Alipay</string>
		<key>icon</key>
		<string>zhifubaoIcon</string>
		<key>title</key>
		<string>支付宝</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Resume</string>
		<key>icon</key>
		<string>jianliIcon</string>
		<key>title</key>
		<string>我的简历</string>
	</dict>
	<dict>
		<key>control</key>
		<string>MyDatabase</string>
		<key>icon</key>
		<string>database</string>
		<key>title</key>
		<string>我的数据库</string>
	</dict>
	<dict>
		<key>control</key>
		<string>MicroEnergy</string>
		<key>icon</key>
		<string>shengyibaoIcon</string>
		<key>title</key>
		<string>微能量</string>
	</dict>
	<dict>
		<key>control</key>
		<string>WX</string>
		<key>icon</key>
		<string>weixinIcon</string>
		<key>title</key>
		<string>微信</string>
	</dict>
	<dict>
		<key>control</key>
		<string>DZ</string>
		<key>icon</key>
		<string>dianpingIcon</string>
		<key>title</key>
		<string>大众点评</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Toutiao</string>
		<key>icon</key>
		<string>toutiaoIcon</string>
		<key>title</key>
		<string>今日头条</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Books</string>
		<key>icon</key>
		<string>books</string>
		<key>title</key>
		<string>书籍收藏</string>
	</dict>
	<dict>
		<key>control</key>
		<string>Freedom</string>
		<key>icon</key>
		<string>ziyouzhuyi</string>
		<key>title</key>
		<string>个性特色自由主义</string>
	</dict>
	<dict>
		<key>control</key>
		<string>PersonalApply</string>
		<key>icon</key>
		<string>yingyongIcon</string>
		<key>title</key>
		<string>个人应用</string>
	</dict>
</array>
</plist>
