<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>trackName</key>
		<string>仙人掌</string>
		<key>trackId</key>
		<string>923818540</string>
		<key>scheme</key>
		<string>app-xrz</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>爱光伏</string>
		<key>trackId</key>
		<string>1068086290</string>
		<key>scheme</key>
		<string>app-iSolar</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>iTour/Kmiles</string>
		<key>trackId</key>
		<string>1251790701</string>
		<key>scheme</key>
		<string>app-Kmiles</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>龙聊</string>
		<key>trackId</key>
		<string>1239280240</string>
		<key>scheme</key>
		<string>app-LongChat</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>汇添富/现金宝</string>
		<key>trackId</key>
		<string>1061838086</string>
		<key>scheme</key>
		<string>app-xjb</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>蜜蜂巢装修</string>
		<key>trackId</key>
		<string>1048823768</string>
		<key>scheme</key>
		<string>app-beeERP</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>蜜蜂巢管理</string>
		<key>trackId</key>
		<string>1066598326</string>
		<key>scheme</key>
		<string>app-beeManager</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>前程日本</string>
		<key>trackId</key>
		<string>1335941465</string>
		<key>scheme</key>
		<string>app-qcrb</string>
		<key>isHiddenApp</key>
		<false/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>自由主义/已下架</string>
		<key>trackId</key>
		<string>https://www.pgyer.com/HZlJ</string>
		<key>scheme</key>
		<string>app-Freedom</string>
		<key>isHiddenApp</key>
		<true/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>汇添富数据/已下架</string>
		<key>trackId</key>
		<string>https://www.pgyer.com/ZC06</string>
		<key>scheme</key>
		<string>app-htfData</string>
		<key>isHiddenApp</key>
		<true/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>客户管理系统/已下架</string>
		<key>trackId</key>
		<string>https://www.pgyer.com/o4LX</string>
		<key>scheme</key>
		<string>app-sales</string>
		<key>isHiddenApp</key>
		<true/>
	</dict>
	<dict>
		<key>trackName</key>
		<string>状元楼/已下架</string>
		<key>trackId</key>
		<string>https://www.pgyer.com/BRfQ</string>
		<key>scheme</key>
		<string>app-zyl</string>
		<key>isHiddenApp</key>
		<true/>
	</dict>
</array>
</plist>
