<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover</key>
		<string>group1/M00/01/12/CjNYDVoFFzeEBG6kAAAAAOhc4e4264.jpg</string>
		<key>createdTime</key>
		<integer>1510277813640</integer>
		<key>id</key>
		<integer>8</integer>
		<key>state</key>
		<string>enable</string>
		<key>title</key>
		<string>水晶湖郡</string>
		<key>updateTime</key>
		<integer>1510282787160</integer>
		<key>url</key>
		<string>https://www.gy720.com/pano/view/19449?from=singlemessage&amp;isappinstalled=0</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>group1/M00/01/12/CjNYDVoFA7GEHhJCAAAAAMaKcBM772.jpg</string>
		<key>createdTime</key>
		<integer>1510277788305</integer>
		<key>id</key>
		<integer>7</integer>
		<key>state</key>
		<string>enable</string>
		<key>title</key>
		<string>水晶湖郡别墅</string>
		<key>updateTime</key>
		<integer>1510277788305</integer>
		<key>url</key>
		<string>https://www.gy720.com/pano/view/19479&amp;v=ok</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>group1/M00/01/12/CjNYDVoFA12EBcDwAAAAAGwlVuQ755.jpg</string>
		<key>createdTime</key>
		<integer>1510277710021</integer>
		<key>id</key>
		<integer>6</integer>
		<key>state</key>
		<string>enable</string>
		<key>title</key>
		<string>信弘大厦B座</string>
		<key>updateTime</key>
		<integer>1510277710021</integer>
		<key>url</key>
		<string>http://720yun.com/t/4dxpyx78pntrde94iw?from=timeline&amp;isappinstalled=0&amp;pano_id=SObGYSLhkBBpEsnv</string>
	</dict>
	<dict>
		<key>cover</key>
		<string>group1/M00/01/12/CjNYDVoFAx-EP9WzAAAAAHKUJJA804.JPG</string>
		<key>createdTime</key>
		<integer>1510277643853</integer>
		<key>id</key>
		<integer>5</integer>
		<key>state</key>
		<string>enable</string>
		<key>title</key>
		<string>源昌新天地</string>
		<key>updateTime</key>
		<integer>1510277643853</integer>
		<key>url</key>
		<string>http://720yun.com/t/855qqq3yewfe4x6mi4?pano_id=r8RiX3fQNRkh7qkf&amp;from=timeline&amp;isappinstalled=0</string>
	</dict>
</array>
</plist>
